
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0) 30%, rgb(13, 11, 128), black) ;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.btn-contato button:hover {
    box-shadow: 0px 0px 15px rgb(81, 252, 255);
    background-color: rgb(81, 252, 255);
    transform: scale(1.1);
    transition: .3s;
}

h2.titulo {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgb(81, 252, 255);
    transform: scale(1.2);
    transition: .4s;
    color: black;
    background-color: rgb(81, 252, 255);
}

h2.titulo span:hover {
    color: rgb(81, 252, 255);
    cursor: pointer;    
}

.sobre .txt-sobre .btn-social button:hover {
    transform: scale(1.2);
    transition: .3s;
}

html {
    scroll-behavior: smooth;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 5%;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: rgb(81, 252, 255);
    transform: scale(1.1);
    transition: .3s;
}

header nav ul {
    list-style: none;
    
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 15px;
  ;
}

.sobre .txt-sobre button:hover {
    box-shadow: 0px 0px 15px rgb(81, 252, 255);
    background-color: rgb(81, 252, 255);
}


/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}


.topo-do-site h1 {
    color: rgb(255, 255, 255);
    font-size: 38px;
    line-height: 38px;
}

.topo-do-site H1 span {
    color:  rgb(81, 252, 255) ;
}

.topo-do-site .txt-topo-site p {
    color: rgb(255, 255, 255);
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}


/* ESTILO ESPECIALIDADES */

section.especialidades {
    padding: 40px 4%;
    text-align: center;
}

section.especialidades .flex {
    gap: 60px;
}

.overlay a {
    text-decoration: none;
    color: white;
}

.especialidades .especialidades-box-esquerda {
    color: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 60px;
    border-radius: 30px 0px;
} 
.especialidades .especialidades-box-centro {
    color: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 60px;
    border-radius: 30px 30px;
} 
.especialidades .especialidades-box-direita {
    color: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 60px;
    border-radius: 0px 30px;
} 


.especialidades .especialidades-box-esquerda:hover {
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 0px 0px 30px  rgba(81, 252, 255, 0.635);
}
.especialidades .especialidades-box-centro:hover {
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 0px 0px 30px  rgba(81, 252, 255, 0.635);
}
.especialidades .especialidades-box-direita:hover {
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 0px 0px 30px  rgba(81, 252, 255, 0.635);
}


.especialidades .especialidades-box-esquerda i {
    font-size: 70px;
    color: rgb(34, 255, 0);
} 
.especialidades .especialidades-box-centro i {
    font-size: 70px;
    color: rgb(34, 255, 0);
} 
.especialidades .especialidades-box-direita i {
    font-size: 70px;
    color: rgb(34, 255, 0);
} 


.especialidades .especialidades-box-esquerda h3 {
    font-size: 28px;
    margin: 15px 0px;
}
.especialidades .especialidades-box-centro h3 {
    font-size: 28px;
    margin: 15px 0px;
}
.especialidades .especialidades-box-direita h3 {
    font-size: 28px;
    margin: 15px 0px;
}



/* ESTILO SOBRE */

section.sobre {
    padding: 40px 4%;
}

.sobre .txt-sobre {
    color: white;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2 {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 40px;
}
.sobre .txt-sobre h2 span {
    display: block;
    text-align: right;
}

.sobre .txt-sobre h2 span:hover {
    color: rgb(81, 252, 255);
    cursor: pointer; 
}

.sobre .txt-sobre p {
    margin: 20px ;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgb(34, 255, 0);
    font-size: 25px;
    cursor: pointer;
    margin: 3px 10px;
}


/* ESTILO MEU PORTIFÓLIO */

section.portifolio {
    padding: 80px 4%;
}

section.portifolio .flex {
   justify-content: space-around;
   gap: 80px;
   margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 100%;
}


/* ESTILO FALA COMIGO */

section.formulario {
    padding: 90px 4%;
}

form {
    padding-top: 50px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    width: 100%;
    background-color: rgba(97, 97, 97, 0.329);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 20px white;
}

form textarea {
    resize: none;
    max-height: 400px;
    color: white;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 180px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}

